<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="regressionSuit">
  <test thread-count="5" name="regressionTest">
    <classes>
      <class name="projectnewamazon2.TestclassAmazonTESTNG"/>
    </classes>
  </test> <!-- regressionTest -->
</suite> <!-- regressionSuit -->
